.new-nft-page {
    background-color: #e8f5fe;
    height: 90vh;
    padding:25px;
  }

  .new-nft-page input {
    width: 430px;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 4px 4px 4px;
  }

  .new-nft-page input#description {
    height: 185px;
  }

  .new-nft-page button {
    padding: 16px;
    border: none;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    outline: none;
    color: #333;
    transition-duration: .2s;
    position: relative;
    bottom: -33px;
  }

  .new-nft-page select {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid white;
    outline: none;
    width: 400px;
    background: transparent;
    color: #fff;
    margin-right: 8px;
    position: relative;
    bottom: -14px;
  }

  .newpost {
    background-color: #333;
    flex-direction: column;
    justify-content: flex-start;
    width: 910px;
    min-height: 245px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 70px;
    position: relative;
    bottom: 95px;
  }

  h4#new_nft {
    color: white;
      font-size: 25px;
      text-shadow: -1px 1px 2px #000,
                    1px 1px 2px #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
  }
